<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
</head>
<body>
<header class="header" th:fragment="header">
    <div class="sides">
        <a href="/" class="logo">SZOPPING WORLD</a>
    </div>
    <div class="sides"> <a href="#" class="menu"> </a></div>
    <div class="info">
        <h1>SZOPPING WORLD</h1>
        <h1>PRZYGARNIJ SZOPA</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            In nisl turpis, porttitor et finibus id, viverra a metus.
            Praesent non ante sed orci posuere varius quis sit amet dui.
            Cras molestie magna orci, id gravida dolor molestie in.</h2>
    </div>
</header>
<footer class="footer" th:fragment="footer">
    <h1 class="footer-info">SZOPPING WORLD</h1>

    <p class="footer-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        In nisl turpis, porttitor et finibus id, viverra a metus.
        Praesent non ante sed orci posuere varius quis sit amet dui.
        Cras molestie magna orci, id gravida dolor molestie in.</p>
</footer>

</body>
</html>