<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<body>
<header class="header" th:fragment="header">
    <div class="sides">
        <a href="/" class="logo">SZOPPING WORLD</a>
    </div>
    <div class="info">
        <h2>SZOPPING WORLD</h2>
        <h1>PRZYGARNIJ SZOPA</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            In nisl turpis, porttitor et finibus id, viverra a metus.
            Praesent non ante sed orci posuere varius quis sit amet dui.
            Cras molestie magna orci, id gravida dolor molestie in.</h2>
    </div>
</header>
<footer class="footer" th:fragment="footer">
    <h2 class="footer-info">SZOPPING WORLD</h2>

</footer>

</body>
</html>