<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Strona główna</title>
</head>
<body>
<section layout:fragment="content" class="content">
    <h2 style="text-align: center">Nie bądź obojętny na losy samotnych szopów. Już dzisiaj możesz zyskać nowego towarzysza życia
        oraz współwłaściciela Twojej kanapy i lodówki. Nie czekaj!</h2>

    <div class="container">
            <button  onclick="window.location.href='/contact';" type="submit" class="button">Kontakt</button>
    </div>

</section>
</body>
</html>